@import url(media_general.css);
@media (max-width: 960px) {
    .card {
        width: 45%;
    }

    input,
    input[type="date"],
    select {
        width: 48%;
    }

    .search-form form {
        flex-wrap: wrap;
    }
}

@media (max-width: 626px) {


    .search-form form {
        justify-content: space-between;
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
    }
}

@media (max-width: 480px) {

    input,
    input[type="date"],
    select {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}