@import url(media_general.css);

@media (max-width: 1024px) {
    .banner__block:last-child {
        display: none;
    }

    .banner__block:first-child {
        width: 100%;
    }
}

@media (max-width: 890px) {
    .carousel {
        padding: 0;
    }

    .info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info__block {
        padding: 10px 50px 15px 20px;
        width: 100%;
    }

    .h2 {
        margin: 20px 0;
    }

    .creation img {
        display: none;
    }
}

@media (max-width: 850px) {
    .faq-container {
        flex-direction: column;
    }

    .faq-title {
        width: 100%;
    }

    .faq-content {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .info__number img {
        right: -20px;
    }

    .creation,
    .faq-container {
        padding: 24px;
    }
}

@media (max-width: 480px) {

    .info__number img {
        right: -15px;
    }

    .banner-title {
        margin-bottom: 40px;
    }

    .banner__block a {
        margin-bottom: 10px;
    }

    .card {
        width: 100%;
    }

    .creation,
    .faq-container {
        padding: 18px;
    }
}
