@import url(media_general.css);

@media screen and (max-width: 800px) {
    .burger-menu {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 3px solid white;
    }

    .lk__menu {
        padding: 0px 20px 20px 20px;
        display: none;
        max-width: 100%;
        background: var(--blue-color);
        border-radius: 0px;
    }

    .lk__menu img {
        width: 30px;
    }

    .close-menu {
        display: block;
    }

    .lk {
        flex-direction: column;
    }

    .lk__profile {
        width: 100%;
    }

    .lk__participant,
    .lk__profile {
        border-radius: 0 0 15px 15px;
        padding-top: 25px;
    }

    .active-link {
        display: block;
    }
}

@media (max-width: 600px) {
    .links {
        flex-direction: column;
    }

    .lk__profile form {
        flex-wrap: wrap;
    }

    .lk__profile form input,
    #email,
    #user_id,
    #title {
        width: 100%;
    }

    .lk__profile-top {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 460px) {
    table {
        font-size: 10px;
    }

    .burger-menu {
        padding: 15px;
    }

    .lk__profile {
        padding: 20px;
    }
}