@import url(media_general.css);
@media (max-width: 700px) {
    .event__banner {
        flex-direction: column-reverse;
        padding-top: 40px;
        gap: 45px;
    }

    .event-time,
    .event-topic {
        margin-bottom: 10px;
    }

    .event-people {
        margin: 10px auto;
    }

    .contact__item img {
        width: 26px;
    }

    .event-bottom {
        flex-direction: column;
        gap: 0;
        padding: 15px 0px;
    }

    .event-bottom-block:first-child {
        width: 100%;
    }
}