@import url(general.css);

.search-form form {
    padding: 20px 20px;
    margin: 35px auto;
    background: var(--light-blue-color);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 10px;
}

input,
select {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--black-color);
}

form img {
    height: 38px;
}

input {
    width: 210px;
}

input[type="date"] {
    width: 150px;
}

select {
    width: 300px;
}
