@import url(general.css);

.search-form form {
    padding: 20px 20px;
    margin: 35px auto;
    background: var(--light-blue-color);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 10px;
}

input,
select {
    padding: 7px 10px;
    border-radius: 5px;
    /* background-color: var(--white-color); */
    color: var(--black-color);
    border: 3px solid #02494C;
}

form img {
    height: 38px;
}

input {
    width: 210px;
}

#organizerSearchForm input {
    width: 90%;
}

input[type="date"] {
    width: 150px;
}

#title {
    width: 60%;
}

.lk__profile .search-form form {
    margin: 0;
}

select {
    width: 300px;
}