@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* =============Общие настройки============= */
:root {
    --blue-color: #44969a;
    --light-blue-color: #3E626C;
    --very-light-blue-color: #c2e4e6;
    --green-color: #02494C;
    --light-green-color: #296163;
    --yellow-color: #f48625;
    --brown-color: #ff770084;
    --white-color: #f2f2f2;
    --black-color: #2B2C2D;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
}

.container {
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.h2 {
    margin: 35px 0 25px;
    font-weight: bold;
    color: var(--black-color);
    text-align: center;
}

p {
    color: var(--black-color);
}

.title6 {
    font-size: 64px;
}

.title {
    font-size: 54px;
}

.title0 {
    font-size: 32px;
}

.title1 {
    font-size: 24px;
}

.title2 {
    font-size: 20px;
}

.title3 {
    font-size: 16px;
}

.btn1 {
    display: inline-block;
    min-width: 140px;
    width: fit-content;
    background: var(--yellow-color);
    color: var(--black-color);
    padding: 10px 20px;
    border: 3px solid var(--brown-color);
    border-radius: 10px;
    text-align: center;
    transition: background-color, box-shadow .3s ease-in-out;
}

.btn1:hover {
    background-color: var(--yellow-color);
    box-shadow: 0px 0px 20px var(--brown-color);
}

.btn2 {
    background-color: transparent;
    color: var(--white-color);
}

.btn1 a {
    color: #2B2C2D;
}

.logo img {
    height: 50px;
}

/* Результат когда ничего не найдено */
.no-results {
    background-color: var(--light-blue-color);
    border-radius: 10px;
    color: var(--white-color);

    width: 100%;
    margin: 15px 0px 50px 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

.no-results img {
    width: 240px;
}

/* =============Header============= */
header {
    position: sticky;
    top: 0;
    z-index: 90;
    border-bottom: 3px solid white;
    background-color: var(--blue-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu a {
    position: relative;
    color: var(--white-color);
}

.menu a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--yellow-color);
    border-radius: 15px;
    opacity: 0;
    transition: opacity .3s ease-in;
}

.menu a:hover::after {
    opacity: 1;
}

.header__icons img {
    width: 46px;
}

.header__icons {
    display: flex;
    gap: 10px;
}

#lk {
    display: none;
}

/* Меню для адаптива */

.nav-button {
    display: none;
}

/* =============Footer============= */
footer {
    background-color: var(--blue-color);
    padding: 25px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    text-align: right;
}

.footer__block a {
    color: #FADD84;
    font-weight: bold;
}

.footer__cookie a {
    color: var(--white-color);
}

.footer__block a:hover,
.footer__cookie a:hover {
    text-decoration: underline;
}

.footer-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.footer-help a {
    display: block;
    margin-top: 5px;
    font-weight: 300;
    color: var(--white-color);
}

.footer-help a:hover {
    color: #bcbcbc;
}

.footer__cookie {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
}

.footer__cookie div {
    max-width: 734px;
}

/* Показать/скрыть пароль */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icons/no-view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(../img/icons/view.svg) 0 0 no-repeat;
}

/* =============Cards============= */

.cards {
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;

    margin-right: 15px;
    margin-bottom: 20px;

    border: 3px solid var(--green-color);
    border-radius: 15px;
    width: 300px;
    background-color: var(--green-color);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 5px 7px 10px #4c7476;
}

.card__img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 170px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card__content {
    padding: 15px 10px;

}

.card__content:has(.card__comment) {
    height: 252px;
}

.card__comment {
    color: #FADD84;
    font-weight: bold;
}

.card__type {
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    width: fit-content;
    padding: 5px 10px;
    background-color: #ffffff28;
}

.card__date {
    margin-top: 10px;
    color: #FADD84;
    font-size: 24px;
    font-weight: bold;
}

.card__time {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
}

.card__city {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 200;
}

.card__title {
    font-size: 18px;
    height: 65px;
    margin-bottom: 7px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.card .btn1 {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.cards_line .card {
    width: 100%;
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.pagination a {
    text-decoration: none;
    color: var(--light-blue-color);
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: var(--light-blue-color);
    color: #fff;
}

.pagination a:disabled {
    color: #ccc;
    cursor: not-allowed;
    background-color: #c5c7ca;
}

.pagination span {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    color: #333;
}

.pagination a[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    color: var(--black-color);
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.close:hover {
    color: #000;
}

h2 {
    font-weight: bold;
}